.idea

# project specific
# make sure logs directory exists, but don't add all logs
logs/*.txt


# java
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

# maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# intelliJ
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# OS X
.DS_Store
